/* Portrait and Landscape */
/* ----------- iPhone X ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}

/* ----------- Google Pixel XL ----------- */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}

/* ----------- Google Pixel ----------- */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}

/* ----------- Galaxy S6 ----------- */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
    #inner {
      margin-left: 7%;
      margin-right: 7%;
    }
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fefefd;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
}

.header {
  font-size: 4em;
  top: 0;
  text-align: center;
  padding-top: .6em;
}

#title2 {
  padding-left: 20px;
  font-weight: bold;
  color: #3d3d3f;
}

.section {
  width: 100%;
  margin-bottom: 60px;
}

#inner {
  margin-left: 22%;
  margin-right: 22%;
}

p {
  margin: 0;
  padding-top: 8px;
}

b {
  color: #3d3d3f;
}


#greetings, .bio-title, .bio {
  text-align: left;
  font-size: 1.2em;
}

.bio-title {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 5px;
  width:150px;
}
#greetings, #more {
  font-size: 2em;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
#greetings {
  font-size: 2.5em;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4c70ba;

}
a:hover {
  color: #4c70ba;
}
a:visited {
  color: #4c70ba;
}

.feat {
  color: #3d3d3f;
  font-weight: normal;
}
/* #feat1 {
  padding-left: 0px;
} */
.feat:visited {
  color: #3d3d3f;
}
.feat:hover {
  color: #4c70ba;
  font-weight: bold;
}
.footer {
  background-color: #fefefd;
  text-align: center;
  z-index: 1000;
  font-size: 1.2em;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding-top: 1em;
  position: fixed;
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, 0); */
}
