
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fefefd;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
}

.header {
  font-size: 4em;
  top: 0;
  text-align: center;
  padding-top: .6em;
}

#title2 {
  padding-left: 20px;
  font-weight: bold;
  color: #3d3d3f;
}

.section {
  width: 100%;
  margin-bottom: 60px;
}

#inner {
  margin-left: 22%;
  margin-right: 22%;
}

p {
  margin: 0;
  padding-top: 8px;
}

b {
  color: #3d3d3f;
}


#greetings, .bio-title, .bio {
  text-align: left;
  font-size: 1.2em;
}

.bio-title {
  font-size: 1.4em;
  margin-top: 20px;
  margin-bottom: 5px;
  width:150px;
}
#greetings, #more {
  font-size: 2em;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
}
#greetings {
  font-size: 2.5em;
  font-style: italic;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #4c70ba;

}
a:hover {
  color: #4c70ba;
}
a:visited {
  color: #4c70ba;
}

.feat {
  color: #3d3d3f;
  font-weight: normal;
}
/* #feat1 {
  padding-left: 0px;
} */
.feat:visited {
  color: #3d3d3f;
}
.feat:hover {
  color: #4c70ba;
  font-weight: bold;
}
.footer {
  background-color: #fefefd;
  text-align: center;
  z-index: 1000;
  font-size: 1.2em;
  bottom: 0px;
  width: 100%;
  height: 50px;
  padding-top: 1em;
  position: fixed;
}

@media (max-width: 812px) {
  #inner {
    margin-left: 7%;
    margin-right: 7%;
  }
}
