<section id="instagram">
	<div class="content-section-b">
	    <div class="container">
	        <div class="row">
	            <h2 class="category-heading alt-font"><a href="/" id="gray">steph</a> in the <i class="far fa-newspaper"></i></h2>
	        </div>
          <div id="container" style="text-align:left">
            <p id = "medialink"><small>
              Occidental College, <i>March 2018</i>: <a id="nodecoration" href = "https://www.oxy.edu/our-story/oxy-people/stephanie-angulo-19" target="_blank"> 'Stephanie Angulo '19 - Oxy Student Story'</a>
            </small></p>
            <p id = "medialink"><small>
              Medium Article, <i>March 2018</i>: <a id="nodecoration" href = "https://medium.freecodecamp.org/top-tips-for-technical-interviews-from-9-of-instagrams-tech-girls-9d1b576bc287#9d92" target="_blank">'Top tips for technical interviews from nine of Instagram’s tech girls'</a>
            </small></p>
            <p id = "medialink"><small>
              Los Angeles Times, <i>March 2018</i>: <a id="nodecoration" href = "http://www.latimes.com/local/lanow/la-me-occidental-computer-science-20180313-story.html" target= "_blank" >'A new kind of computer science major delves into how technology is reshaping society'</a>
            </small></p>
            <p id = "medialink"><small>
              USC Annenberg Media, <i>February 2018</i>: <a id="nodecoration" href = "http://www.uscannenbergmedia.com/2018/02/26/usc-all-female-hackathon-concludes-its-second-year/" target="_blank"> 'USC all-female hackathon concludes its second year'</a>
            </small></p>
            <p id = "medialink"><small>
              Occidental College, <i>February 2017</i>: <a id="nodecoration" href = "https://www.oxy.edu/campus-conversations/student-voices/reaching-stars-jpl" target="_blank">'Reaching for the Stars (With JPL)'</a>
            </small></p>
            <p id = "medialink"><small>
              Sonoma Index Tribune, <i>April 2016</i>: <a id="nodecoration" href = "http://www.sonomanews.com/news/5501827-181/stephanies-angulo-from-google" target="_blank">'Sonoma Valley High student gets dream internship at Facebook'</a>
            </small></p>
				  </div>
	    </div>
	</div>
</section>
