  body {
    background-color: black;
    color: white;
    height: 100%;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #00FF00;
    /*background-color: black;
    color: white;*/
    /*padding-bottom: 3px;
    border-bottom: 2px solid black;*/
  }
  .header {
    overflow: hidden;
    position:relative;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100%;
    text-align: left;
  }
  .header-text, .sections {
    display: inline;
    position: absolute;
  }
  .header-text {
    font-family: 'VT323', monospace;
    position: absolute;
    width: 100%;
    font-size: 50px;
  }
  #fade {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 50px;
  }
  .sections {
    width: 100%;
    top: 45%;
    left: 600px;
    font-size: 17px;
  }
  .sections span {
    padding-right: 20px;
    color: #00FF00;
  }
  .sections ul {
    display:table-row;
    margin-right: 50px;
  }
  .sections ul li{
    display: table-cell;
    list-style-type: none;
  }
  .sections a {
    margin-right: 50px;
  }
  #temp,#about, #experience, #school, #interests {
    overflow: hidden;
    position:relative;
    top: 0%;
    height: 450px;
    width: 100%;
    text-align: center;
  }
  .text {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 75%;
  }

  #footer {
    overflow: hidden;
    position:absolute;
    bottom: 0%;
    height: 50px;
    padding-top: 10px;
    width:100%;
    text-align: center;
  }
  .navbar-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-49%) translateY(-50%);
  }
  .navbar-content ul {
    display: inline;
    margin: auto;
  }
  .navbar-content ul li{
    display: inline-block;
    list-style-type: none;
  }
  .navbar-content img {
    width: 25px;
    margin-right: 70px;
  }
  .navbar-content img:hover {
    opacity: .7;
  }
  .navbar-content a:hover {
    border-bottom: none;
  }
  hr {
    width: 100%;
    border: 0;
    border-top: 1px solid white;
    box-shadow: 0px 1px .5px #888888;
    padding: 0;
  }
