  body {
    height: 100%;
    margin: 0px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    border-bottom: 2px solid #293375;
  }
  .header {
    overflow: hidden;
    position:relative;
    top: 20px;
    left: 20px;
    height: 100px;
    width: 100%;
    text-align: left;
  }
  .header-text, .sections {
    display: inline;
    position: absolute;
  }
  .header-text {
    font-family: 'VT323', monospace;
    color: black;
    position: absolute;
    width: 100%;
    font-size: 50px;
  }
  #fade {
    font-family: 'VT323', monospace;
    color: black;
    font-size: 50px;
  }
  .sections {
    top: 45%;
    left: 700px;
  }
  .sections ul {
    display:table-row;
  }
  .sections ul li{
    display: table-cell;
    list-style-type: none;
    font-size: 17px;
  }
  .sections a {
    margin-right: 50px;
  }
  #about, #experience, #school, #interests {
    overflow: hidden;
    background-color: white;
    position:relative;
    top: 0%;
    height: 500px;
    width: 100%;
    text-align: center;
  }
  .text {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 75%;
  }

  #footer {
    overflow: hidden;
    position:relative;
    bottom: 0%;
    height: 50px;
    width:100%;
    text-align: center;
  }
  .navbar-content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-49%) translateY(-50%);
    /*bottom: 20%;
    left: 35%;*/
  }
  .navbar-content ul {
    display: inline;
    margin: auto;
  }
  .navbar-content ul li{
    display: inline-block;
    list-style-type: none;
  }
  .navbar-content img {
    width: 25px;
    margin-right: 70px;
  }
  .navbar-content img:hover {
    opacity: .7;
  }
  .navbar-content a:hover {
    border-bottom: none;
  }
  hr {
    width: 75%;
    border: 0;
    border-top: 1px solid black;
    box-shadow: 0px 1px 1px #888888;
    padding: 0;
  }
